<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
    <h1>Reset your password</h1>
    <p> A password reset was requested with your email address, click <a href="<%= url %>">to complete the process.</a></p>
    <aside>kindly ignore this email if you didn't request for password reset.</aside>
</body>
</html>